.rounded-rect {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 50px -25px black;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.left {
    left: 0px;
}

.flex-center.right {
    right: 0px;
}

.sidebar-content {
    position: absolute;
    width: 95%;
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: gray;
}

.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-toggle.left {
    right: -1.5em;
}

.sidebar-toggle.right {
    left: -1.5em;
}

.sidebar-toggle:hover {
    color: #0aa1cf;
    cursor: pointer;
}

.sidebar-map {
    transition: transform 1s;
    z-index: 1;
    width: 300px;
    height: 100%;
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
    transform: translateX(-295px);
}

.sidebar-title{
    border-bottom: 1px solid black;
    padding: 10px;
    color: black;
}

.sidebar-info {
    padding: 10px 15px;
    background-color: #ffffff;
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}

.sidebar-info p {
    margin: 8px 0;
    font-weight: 500;
    color: #444;
}

.sidebar-info p strong {
    color: #007bff; /* Màu xanh nổi bật cho nhãn */
    font-weight: 600;
}

.sidebar-info span {
    color: #555;
    font-style: italic;
}
.sidebar-toggle{
    color: black;
    font-size: 20px;
}

.coordinates {
    margin-bottom: 20px;
}

.coordinates p {
margin: 8px 0;
font-weight: 500;
color: #444;
}

.coordinates p strong {
    color: #007bff; /* Màu xanh nổi bật cho nhãn */
    font-weight: 600;
}

.coordinates p span {
    color: #555;
    font-style: italic;
}

.address p {
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.address ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.address li {
    margin: 5px 0;
    font-size: 14px;
    color: #444;
}

.address li strong {
    color: #007bff;
    font-weight: 600;
}

.address li span {
    color: #555;
    font-style: italic;
}

