# Thư mục build và file tạm
.next/
dist/
out/
build/
.cache/

# Node.js modules
node_modules/

# File lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs và debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File môi trường
.env
.env.*.local

# File IDE hoặc hệ thống
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
Thumbs.db

# Các tệp tạm thời hoặc backup
*.tmp
*.bak
*.old
~$*

# Thư viện hoặc file ngoại vi
coverage/
storybook-static/

# Các file không cần đẩy lên Git
*.log
*.cache
