<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PARKING LOT VIETNAM</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />
      <link rel="stylesheet" href="~/Website/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Website/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    @RenderSection("Scripts", required: false)
</head>
<body>
        @RenderBody()
</body>
</html>



