<div id="map">
    <div class="geocoder-container" id="geocoder"></div>
    @* <div id="menu">
        <input id="light" type="radio" name="rtoggle" value="https://tiles.goong.io/assets/goong_map_web.json" checked="checked" />
        <label for="light">Light</label>
        <input id="dark" type="radio" name="rtoggle" value="https://tiles.goong.io/assets/goong_map_dark.json" />
        <label for="dark">Dark</label>
        <input id="nav_day" type="radio" name="rtoggle" value="https://tiles.goong.io/assets/navigation_day.json" />
        <label for="nav_day">Navigation Day</label>
        <input id="nav_night" type="radio" name="rtoggle" value="https://tiles.goong.io/assets/navigation_night.json" />
        <label for="nav_night">Navigation Night</label>
    </div> *@
    @* <div id="left" class="sidebar collapsed">
        <div class="sidebar-content">
            <img src="https://via.placeholder.com/250x150" alt="Example Image" />
            <p class="sidebar-text">Bình Hưng Hòa</p>
            <div class="custom-line"></div>
            <p class="text">Test</p>
            <p class="text">Test</p>
            <p class="text">Test</p>
            <div class="custom-line"></div>
            <p class="text">Test</p>
            <p class="text">Test</p>
            <p class="text">Test</p>
        </div>
        <div id="toggle-icon" class="sidebar-toggle" onclick="toggleSidebar('left')">&gt;</div>
    </div> *@
</div>