@model MODELS.DANHMUC.MODELProduct
@{
    ViewData["Title"] = "PopupView";
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Danh sách sản phẩm</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closePopUp()"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label class="col-form-label">
                Tên sản phẩm
            </label>
            <input type="text"
                   class="form-control"
                   value="@Html.DisplayFor(model => model.Name, new { @class = "form-control-static" })"
                   readonly />
        </div>
        <div class="mb-3">
            <label class="col-form-label">
                Giá tiền
            </label>
            <input type="text"
                   class="form-control"
                   value="@Html.DisplayFor(model => model.Price, new { @class = "form-control-static" })"
                   readonly />
        </div>
        <div class="mb-3">
            <label class="col-form-label">
                Số lượng
            </label>
            <input type="text"
                   class="form-control"
                   value="@Html.DisplayFor(model => model.Quantity, new { @class = "form-control-static" })"
                   readonly />
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closePopUp()">Đóng</button>
</div>



<script>

    function closePopUp() {
        $('#modal-default').modal('hide');
    }
</script>