@using MODELS.TAIKHOAN;
@model MODELThayDoiMatKhau;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="container">
    <div class="forms">
        <div class="form-content">
            <div class="login-form w-100">
                <div class="title">Thay đổi mật khẩu</div>
                <form asp-action="ChangePassword" method="Post">
                    <div class="input-boxes">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input asp-for="Email" type="text" placeholder="Nhập Email của bạn" required readonly>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input asp-for="MatKhauMoi" type="text" placeholder="Nhập mật khẩu mới của bạn" required>
                        </div>
                        <span asp-validation-for="MatKhauMoi" class="text-danger"></span>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input asp-for="XacNhanMatKhauMoi" type="text" placeholder="Xác nhận mật khẩu mới của bạn" required>
                        </div>
                        <span asp-validation-for="XacNhanMatKhauMoi" class="text-danger"></span>
                        <div class="button input-box">
                            <input value="Xác nhận" type="submit">
                        </div>
                        <div class="text-center">
                            <a asp-controller="Account" asp-action="VerifyEmail">Quay lại</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}